// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// body 
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: repeat(4, auto);
//     grid-gap: 15px;
//     margin: 10px;
//   


// Small devices (los que ya casi no se usan )
@media (min-width: 400px) and (max-width: 575.98px){
.logo {
  font-size: 27px;
  position: relative;
  left: 21px;
}

.nosotros{
  display: none;

}
.main{
  width: 100%;
}

.listad-noticias{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 15px;
  margin: 3px;
  padding: 0px;
  padding-top: 20px;
}
.contendo{
  padding: 0px;
}
.lis-izq{
    display: none;
}

.cuerpo img{
width: 100%;
padding: 2px;
height: auto;
max-height: 270px;
}
.cuerpo p{
  font-size: 19px;
}
.cabecera{
  font-size: 20px;
}
}


// Small devices 
@media (min-width: 576px) and (max-width: 767.98px){
  .logo {
    font-size: 22px;
    position: relative;
    left: 21px;
  }
  .main{
    width: 100%;
  }
  
  .listad-noticias{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 15px;
    margin: 3px;
    padding: 0px;
    padding-top: 20px;
  }
 
  .cuerpo img{
  width: 97%;
  padding: 2px;
  height: auto;
  max-height: 300px;
  }
  .cuerpo p{
    font-size: 20px;
  }
  .cabecera{
    font-size: 18px;
  }
  .newsletter{
    margin-top: 0px;
  }
  .nosotros{
    display: none;
  
  }
  .contendo{
    padding: 0px;
  }
  .lis-izq{
      display: none;
  }
  
  }


// // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) and (max-width: 991.98px) {
  .logo {
    font-size: 22px;
    position: relative;
    left: 21px;
  }
  
  .listad-noticias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 15px;
    margin: 3px;
    padding: 0px;
    padding-top: 20px;
  }
 
  .cuerpo img{
  width: 97%;
  padding: 2px;
  height: auto;
  max-height: 300px;
  }
  .cuerpo p{
    font-size: 15px;
  }
  .cabecera{
    font-size: 15px;
  }
  .newsletter{
    margin-top: 0px;
  }
 }



// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

  .cuerpo p{
    font-size: 20px;
  }

  .cabecera{
    font-size: 22px;
  }
 }


